@{
    ViewData["Title"] = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About KAAR Infotech</h2>
<p>We provide quality digital education through our Learning Management System (LMS).</p>
